/*font-family: 'Dr Sugiyama', cursive;*/
/*font-family: 'Marck Script', cursive;*/
/*font-family: 'Nothing You Could Do', cursive;*/

body {

    background: #000000; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #000000 0%, #2989d8 88%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(88%, #2989d8), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%, #2989d8 88%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%, #2989d8 88%, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%, #2989d8 88%, #000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #2989d8 88%, #000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#000000', endColorstr = '#000000', GradientType = 0); /* IE6-8 */

}

.container {
    background: #ffffff;
    padding: 15px;

    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

h1, h2, h3, h4, h5 {
    /*font-family: Georgia;*/
    font-family: 'Nothing You Could Do', cursive;
}

h6 {
    text-transform: none;
}

/* Header */

#header {
    /*height: 80px;*/
    margin-top: 10px;
    padding-bottom: 4px;
    background: #f5f5f5;
}

#site-logo {
    float: right;
}

#site-logo img {
    box-shadow: 0 0 0px #BBBBBB;
}

#site-tagline {
    margin-left: 24px;
}

#site-titles {
    margin-top: 12px;
    margin-left: 14px;
}

#site-title {
    /*font-family: Georgia;*/
    font-family: 'Nothing You Could Do', cursive;
    font-size: 38px;
    line-height: 32px;
}

#site-title a {
    color: #333333;
}

#site-title a:hover {
    text-decoration: none;
    color: #333333;
}

#user-info {
    text-align: right;
}

.form-search {
    margin: 4px 0 4px;
}

/* Navigation */

#navigation {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #dddddd;
    /*border-bottom: 2px solid #333333;*/
}

.nav {
    margin-bottom: 0px;
    margin-left: 20px;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs > li {
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    /*font-family: Georgia;*/
    font-family: 'Nothing You Could Do', cursive;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
    border-width: 1px;
    margin-top: 0px;
}

/* Breadcrumb */

.breadcrumb-custom {
    margin-top: 0px;
    margin-left: 4px;
    margin-bottom: 10px;
}

.breadcrumb-custom li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}

.breadcrumb-custom .divider {
    margin: 0 5px;
    color: #999999;
}

#main {
    /*padding-left: 20px;*/
}

/* Footer */

#footer-line {
    background: #cccccc;
    color: #666666;
}

#footer-line a {
    color: #666666;
    text-decoration: underline;
}

#footer-line .icon-arrow-up {
    opacity: 0.7;
    margin-left: 4px;
}

#footer-powered {
    text-align: right;
}

#footer {
    background: #f9f9f9;
    text-align: center;
    margin-bottom: 10px;
}

#footer ul {
    text-align: left;
    display: inline-block;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#footer li {
    float: left;
    list-style-type: none;
}

#footer li li {
    float: none;
    clear: both;
    width: 120px;
    padding: 2px 0;
    margin-right: 2px;
}

#footer a {
    color: #666666;
}

#footer p {
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
}

#footer .separator {
    opacity: 0.3;
    margin: 0 10px;
}

.gallery {
    margin-left: 0;
}

.gallery li {
    padding-left: 20px;
    /*float: left;*/
    margin-left: 0;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*margin-left: auto;*/
    /*margin-right:auto;*/
}

.pagination {
    /*width:100%; */
    text-align: center;
    /*margin-top: -80px*/
    margin: 0 0 0 0;
}
.image-overlay {

}
.image-overlay-full {
    max-width: 80%;
}
.title-overlay {
    font-size: 120%;

}
.text-overlay {
    /*float: right;*/
}