{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags %}

{% block extra_js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/masonry/jquery.masonry.js"></script>
  <script src="{{ STATIC_URL }}js/infinite-scroll/jquery.infinitescroll.min.js"></script>
  <script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.toolbox.expose.js"></script>
  <script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.overlay.js"></script>
  <script src="{{ STATIC_URL }}mezzanine/js/gallery.js"></script>
{% endblock %}



{% block full %}
  <div class="row">

    <div class="span12">
      <ul class="breadcrumb-custom">
        {% spaceless %}
          {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
      </ul>

      <h1>{% block title %}{% endblock %}</h1>

      {% block main %}
        {{ block.super }}

        {% editable page.galleria.content %}
          {{ page.galleria.content|richtext_filter|safe }}
        {% endeditable %}
        {% pagination_for images %}
        <ul class="thumbnails gallery">
          {#        {% with page.gallery.images.all as images %}#}
          {% for image in images %}
            <li>
              <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.title }}"
                 href="{{ MEDIA_URL }}{{ image.file }}">
                <img class="image-overlay-thumb" src="{{ MEDIA_URL }}{% thumbnail image.file 220 0 %}">
              </a>

              <div id="image-{{ image.id }}" class="image-overlay" style="display:none;">
                <a href="#" class="image-overlay-prev">&larr;</a>
                <a href="#" class="image-overlay-next">&rarr;</a>
                <p class="title-overlay text-overlay">{{ image.title }}</p><br>
                <img class="image-overlay-full" src="{{ MEDIA_URL }}{% thumbnail image.file 0 600 %}"><br>
                {% if image.description != image.title %}
                  <p class="text-overlay">{{ image.description }}</p>
                {% endif %}
{#                <br>{{ forloop.counter }} / {{ images|length }}#}
              </div>
            </li>
          {% endfor %}
          {#        {% endwith %}#}
        </ul>
      {% endblock %}
    </div>
  </div><!-- /row -->
{% endblock %}

